$colors: (
  "primary": #00E5FF,
  "purple": #9e6fef,
  "light-purple": #BFBDFF,
  'yellow': #FFF701
);
$base-font-size: 1rem;
$font-sizes: (
  xxs: 0.5714, // 8px
  xs: 0.7143, // 10px
  sm: 0.8571, // 12px
  md: 1, // 14px
  lg: 1.1429, // 16px
  xl: 1.4286 // 20px
);

$redColor: red;